@font-face {
  font-family: 'Bebas Neue';
  src: url('/bebas-neue-v9-latin-regular.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nougat';
  src: url('/public/Nougat ExtraBlack.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lilita One';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/s/lilitaone/v17/i7dPIFZ6e7FRmYVdQ3iQGqNq.woff2') format('woff2');
}

html,
body,
#root
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFF3F3;
}

/**
 * Interface
 */
.interface
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  font-family: 'Lilita One', sans-serif;
}

/**
 * Time
 */
.time {
  position: absolute;
  top: 30px;
  right: 25px;
  color: #ffffff;
  font-size: 6vh;
  background: #353C52;
  padding: 5px 70px; 
  text-align: right;
  text-shadow:
    -2px -2px 0 #000,
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000,
     0   -2px 0 #000,
     0    2px 0 #000,
    -2px  0   0 #000,
     2px  0   0 #000,
     0    8px 0 #000;
  border-radius: 10px; 
  filter: drop-shadow(0px 2.5px 0px rgba(0, 0, 0, 0.50));
  border: 3px solid black;
}

.logo {
  position: absolute;
  top: 30px;
  left: 40px;
  color: #ffffff;
  font-size: 6vh;
  padding: 0px 0px; 

}


/**
 * Restart
 */
.restart {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 125px;
  right: 25px;
  width: auto;
  color: #ffffff;
  font-size: 4vh;
  background: #FF5E5E;
  padding: 10px 40px; 
  pointer-events: auto;
  cursor: pointer;
  border-radius: 10px;

  text-shadow:
    -2px -2px 0 #000,
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000,
     0 -2px 0 #000,
     0  2px 0 #000,
    -2px  0 0 #000,
     2px  0 0 #000,
     0  5px 0 #000;


  filter: drop-shadow(0px 2.5px 0px rgba(0, 0, 0, 0.50));
  border: 3px solid black;
}

.restart:hover{
  background:#FF3A3A;
}


/**
 * Controls
 */
.controls
{
  position: absolute;
  right: 25px;   
  bottom: 25px;
  width: 100%;
  display: flex;
  justify-content: right;
}

.controls .raw
{
  display: flex;
  justify-content: center;
}

.controls .key
{
  width: 60px;
  height: 60px;
  margin: 4px;
  opacity: 0.6;
  border: 2px solid #000;
  background: #343B50;
  filter: drop-shadow(0px 2.5px 0px rgba(0, 0, 0, 0.9));
  border-radius: 8px;
  
  
}

.controls .key.large
{
  width: 200px;
}

.controls .key.active
{
  opacity: 0.7;
  background: #00112D;
}

.score-entry{
  pointer-events: auto;
  position: fixed;
}

.scoreboard {
  pointer-events: auto;
  padding: 40px;
  font-family: 'Lilita One', sans-serif;
}

.scoreboard h1 {
  line-height: 1.25; 
  letter-spacing: 0.12px; 
  font-size: 4rem;
  transform: rotate(-2deg); 
  color: #F01919;

  text-shadow:
    -2px -2px 0 #000,
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000,
     0 -2px 0 #000,
     0  2px 0 #000,
    -2px  0 0 #000,
     2px  0 0 #000,
     0  8px 0 #000;
}
.scoreboard ul {
  list-style: none;
  padding: 0;
}
.scoreboard li {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.custom-input {
  font-family: 'Lilita One', sans-serif;
  font-size: 3rem;
  background-color: #23273C;
  border-radius: 10px;
  border: 2px solid #000;
  box-shadow: 0px 3px 0px 0px #000, 0px 5px 0px 0px rgba(0, 0, 0, 0.25);
  padding: 0.5rem 1rem; 
}

.custom-input:focus{
  color: white;
  background-color: #000000;
  outline: none;
  border: 2px solid #000;
  box-shadow: 0px 3px 0px 0px #000, 0px 5px 0px 0px rgba(0, 0, 0, 0.25);
}

.custom-input::placeholder
{
  color: #D0D0D0;
}


.custom-button {
  font-family: 'Lilita One', sans-serif;
  font-size: 2rem;
  color: white;
  background-color: #F01919;
  padding: 1rem 1.5rem;
  
  border: 2px solid #000;
  border-radius: 10px;
  text-shadow:
    -2px -2px 0 #000,
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000,
     0 -2px 0 #000,
     0  2px 0 #000,
    -2px  0 0 #000,
     2px  0 0 #000,
     0  5px 0 #000;

  box-shadow:
    0px 3px 0px 0px #000,
    0px 5px 0px 0px rgba(0, 0, 0, 0.25);

  cursor: pointer;
  transition: transform 0.1s ease;
}

.custom-button:hover{
  background-color: #F55858;
}


@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.wave-text span {
  display: inline-block;
  animation: jump 0.6s ease-in-out infinite;
}

